<!DOCTYPE html>
<html>
<head>
    <title>Button Actions</title>
 
</head>
<body>
    <button  class="btn" id="printBtn" >PRINT TEXT</button>
    <button  class="btn-dark" id="boldBtn">BOLD</button>
    <button  class="btn-dark" id="italicBtn">ITALIC</button>
    <button  class="btn-dark" id="underlineBtn">UNDERLINE</button>
    <button  class="btn-dark" id="resetBtn">RESET</button>
    <br>
   <h1> <label id="outputLabel"></label></h1>
    <script src="~/Scripts/test2.js"></script>
   
</body>
</html>
